tr.pointer:hover td {
    cursor: pointer;
    background-color: #e9f3fc;
    transition: 0.5s;
}

.rowplot {
    max-width: 50%;
    display: inline-block;
}

div.segment.noborder {
    border:none;
    box-shadow: none;
}

td.expanded {
    border-left: none !important;
    font-weight: bold;
}

td.expandedplot {
    border-top: none !important;
}