Estimator:
<div class="ui basic dropdown button" suiDropdown>
  <div class="text">{{estimator?.name}}</div>
  <i class="dropdown icon"></i>
  <div class="menu" suiDropdownMenu>
    <div class="item" *ngFor="let est of estNames()" (click)="setEstimator(est)">
      {{estFNames(est)}}
    </div>
  </div>
</div>

<div class="ui active inverted dimmer" *ngIf="inProgress">
  <div class="ui loader"></div>
</div>

<button class="ui primary button" (click)="expandAll(jsonlist)" *ngIf="jsonlist.length !== 0">Toggle all</button>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <!-- Observable 	Beam 	Model 	Target 	Beam energy 	Parameters -->
      <th class="six wide center aligned">Observable</th>
      <th class="center aligned">Beam</th>
      <th class="center aligned">Model</th>
      <th class="center aligned">Target</th>
      <th class="center aligned">Beam energy</th>
      <th class="center aligned">Parameters</th>
      <th class="center aligned sorted " (click)="tableSort()"
        [ngClass]="{'descending': sortDirection === 1, 'ascending': sortDirection === -1}">Estimator's value</th>
    </tr>

  </thead>
  <tbody>
    <ng-container *ngFor="let j of jsonlist">
      <tr (click)="collapseRow(j)" class="pointer">
        <td class="center aligned">
          {{jsonMetadata(j[0]).observable}}
        </td>
        <td class="center aligned">{{beam[0]}}</td>
        <td class="center aligned">{{jsonMetadata(j[0]).model}}</td>
        <td class="center aligned">{{jsonMetadata(j[0]).target}}</td>
        <td class="center aligned">{{jsonMetadata(j[0]).benergy}}</td>
        <td class="center aligned">{{ParamC2str(jsonMetadata(j[0]).parameters)}}</td>
        <td class="center aligned">{{estimatorCall(j)}}</td>
      </tr>
      <tr *ngIf="isRowShown(j)">
        <td colspan="7" class="center aligned">
          <div class="ui segment noborder">
            <app-plot class="rowplot" [configObs]="getPlotConfig(j)" [popupEnable]="false"></app-plot>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>