div.header {
	background: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	vertical-align: center !important;
	padding: 13px;
	border-bottom: 1px solid #e7e7e7;
	height: 56px;
};

.item {
	font-size: 16px;
	cursor: context-menu;
	min-width: 15%;
}

.item:hover {
	background-color: white;
}

.sitename {
	color: #777;
	font-weight: normal;
}

.logo {
	height:30px;
}