div.header {
	background: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	vertical-align: center !important;
	padding: 13px;
	border-bottom: 1px solid #e7e7e7;
};

.headermenuitem {
	font-size: 16px;
	cursor: context-menu;
}

.headermenuitem:hover {
	background-color: white;
}

.sitename {
	color: #777;
	font-weight: normal;
}