<div class="header">
	<a routerLink="/">
		<img src="assets/gval_logo.png" class="logo">
	</a>
	<!--
	<div class="ui stackable grid">
		<div class="ui three wide column">

		</div>
		<div class="ui column">
			<i class="angle right icon" (click)="showMenu()"></i>
		</div>
		<ng-container *ngIf="menuShown">
			<div class="ui column item">
				<a routerLink="/layouts">USER LAYOUTS</a>
			</div>
			<div class="ui column item">
				<a routerLink="/stat">STAT COMPARISON</a>
			</div>
			<div class="ui column item">
				<a routerLink="/records">RECORD VIEWER</a>
			</div>
			<div class="ui column item">
				<a routerLink="/exp">REFERENCE DATA</a>
			</div>
			<div class="ui column item">
				<a routerLink="/lookup">LOOKUP TABLES</a>
			</div>
		</ng-container>
	</div>
 -->
</div>