<h1>Tests summary</h1>

<table class="ui compact celled table">
  <thead>
    <tr>
      <th>Test/Version</th>
      <th *ngFor="let version of versions()" class="center">
        <span class="verticaltext">{{getVersion(version)}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of tests()">
      <td>{{test}}</td>
      <td *ngFor="let version of versions()" class="center aligned">
        <i class="check icon" *ngIf="hasV(test, version)"></i>
      </td>
    </tr>
  </tbody>
</table>