.hint {
    border: 1px solid black;
    position: absolute;
    background-color: blanchedalmond;
    /* Check JS hint() */
    width: 400px;
    min-height: 100px;
    padding: 5px;
    z-index: 999;
}

img.pointer {
    cursor: pointer;
    padding: 0px;
    width: 100% !important;
    max-width: 100% !important;
    padding: 2px;
}

img.pointer:hover {
    padding: 0px;
    border: lightblue solid 2px;
}