<div class="ui active inverted dimmer" *ngIf="inProgress">
    <div class="ui loader"></div>
</div>
<img class="ui rounded centered image" [src]="url" *ngIf="!inProgress" (mousemove)="hint($event)"
    (mouseout)="hideHint()" (click)="modalShow = true;">
<div class="hint" *ngIf="showHint" [style.left]="getMousePos().x" [style.top]="getMousePos().y">
    <b>Observable</b>: {{getHintData().observable}}<br>
    <b>Beam particle</b>: {{getHintData().beam}}<br>
    <b>Beam energy</b>: {{getHintData().beam_energy}}<br>
    <b>Target</b>: {{getHintData().target}}<br>
    <ul>
        <li *ngFor="let e of getHintData().items">
            <b>{{e.version}}</b>, <b>{{e.model}}</b>
            <ng-container *ngFor="let ep of e.parameters">
                , {{ep.names}} = {{ep.values}}
            </ng-container>
        </li>
    </ul>
</div>
<sui-modal [isFullScreen]="false" [isClosable]="true" [transition]="" [isInverted]="true"
    (dismissed)="modalShow = false;" [size]="normal" *ngIf="modalShow">
    <div class="image content">
        <img id="rootimg" class="ui rounded centered image" [src]="url" *ngIf="!inProgress && modalRoot">
        <div id="jsrootimg" *ngIf="!inProgress && !modalRoot" class="jsrootimg"></div>
    </div>
    <div class="content">
        <div class="ui buttons">
            <button class="ui primary button" [ngClass]="{'disabled': modalRoot}"
                (click)="switchModalRoot()">ROOT</button>
            <div class="or"></div>
            <button class="ui positive button" [ngClass]="{'disabled': !modalRoot}"
                (click)="switchModalRoot()">JSROOT</button>
        </div>
        &nbsp;
        <div class="ui primary dropdown button" suiDropdown>
            <div class="text">Download</div>
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
                <div class="item">
                    <a [href]="url" target="_blank">PNG</a>
                </div>
                <div class="item">
                    <a [href]="url.replace('.png', '.root')" target="_blank">ROOT</a>
                </div>
                <div class="item">
                    <a [href]="url.replace('.png', '.eps')" target="_blank">EPS</a>
                </div>
                <div class="item">
                    <a [href]="url.replace('.png', '.c')" target="_blank">C</a>
                </div>
                <div class="item" suiDropdown>
                    <i class="dropdown icon"></i>
                    JSON
                    <div class="menu" suiDropdownMenu>
                        <div class="item" *ngFor="let e of config.data">
                            <a [href]="'/api/get/' + e.id" target="_blank">{{e.mctool.version}}, {{e.mctool.model}}</a>
                        </div>
                    </div>
                </div>
                <div class="item" suiDropdown>
                    <i class="dropdown icon"></i>
                    GnuPlot
                    <div class="menu" suiDropdownMenu>
                        <div class="item" *ngFor="let e of config.data">
                            <a [href]="'/api/getRaw/' + e.id" target="_blank">{{e.mctool.version}},
                                {{e.mctool.model}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sui-modal>