<div class="ui active inverted dimmer" *ngIf="inProgress">
    <div class="ui loader"></div>
</div>
<app-permalink class="permalink" [config]="config" *ngIf="config"></app-permalink>
<img class="ui rounded centered image" [src]="url" *ngIf="!inProgress" (mousemove)="hint($event)"
    (mouseout)="hideHint()" (click)="showModal(url, config)">
<div class="hint" *ngIf="showHint && getHintData()" [style.left]="getMousePos().x" [style.top]="getMousePos().y">
    <b>Observable</b>: {{getHintData().observable}}<br>
    <b>Beam particle</b>: {{getHintData().beam}}<br>
    <b>Beam energy</b>: {{getHintData().beam_energy}}<br>
    <b>Target</b>: {{getHintData().target}}<br>
    <ul>
        <li *ngFor="let e of getHintData().items">
            <ng-container *ngIf="!e.isExp">
                <b>{{e.version}}</b>, <b>{{e.model}}</b>
            </ng-container>
            <ng-container *ngIf="e.isExp">
                <b>{{e.expname}}</b>
            </ng-container>
            <ng-container *ngFor="let ep of e.parameters">
                , {{ep.names}} = {{ep.values}}
            </ng-container>
        </li>
    </ul>
</div>
<!-- <app-plot-modal [config]="config" [url]="url" *ngIf="modalShow" (out)="modalShow = $event;"></app-plot-modal> -->