<h1 class="pageheader">User layouts</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui segment">
            <h3>Template</h3>
            <sui-select class="selection container"
                [(ngModel)]="currentLayout"
                [options]="pTemplates"
                [isSearchable]="true"
                [isDisabled]="false"
                [optionFormatter]="layoutFormatter"
                (selectedOptionChange)="onSelectLayout($event)"
                #select>
                <ng-container  *ngFor="let layout of select.filteredOptions">
                    <sui-select-option  *ngIf="isLayoutShown(layout[1].tags)"
                        [value]="layout">
                    </sui-select-option>
                </ng-container>
            </sui-select>
            <h4>Layout groups</h4>
            <div *ngFor="let tag of uniqueTags(pTemplates)">
                <sui-checkbox (click)="updateTags(tag)">{{tag}}</sui-checkbox>
            </div>
            <div class="ui  divider"></div>
            <sui-checkbox class="toggle" [(ngModel)]="useMarkers">Use markers</sui-checkbox>
        </div>
        <div class="ui segment container" *ngIf="currentLayout">
            <div class="ui segment container" *ngIf="currentLayout">
                <h3>Version</h3>
                <sui-multi-select class="selection container"
                [(ngModel)]="versionsSel"
                [options]="menuVersions"
                [isSearchable]="true"
                [isDisabled]="disabled"
                [optionFormatter]="versionFormatter"
                #multiSelect>
                  <sui-select-option *ngFor="let obj of multiSelect.filteredOptions"
                      [value]="obj">
                </sui-select-option>
            </sui-multi-select>
        </div>
        <div class="ui segment container" *ngIf="currentLayout">
            <h3>Physics List/Model</h3>
            <sui-multi-select class="selection container"
            [(ngModel)]="modelSel"
            [options]="models"
            [isSearchable]="true"
            [isDisabled]="disabled"
            #multiSelect>
              <sui-select-option *ngFor="let obj of multiSelect.filteredOptions"
                  [value]="obj">
            </sui-select-option>
        </sui-multi-select>
        </div>
    </div>
</div>