.bpad {
    position: fixed;
    left: 0px;
    top: calc(50% - 75px);
    height:150px;
    width: 30px;
    z-index: 9999;
    margin-left: 0px;
    border-radius: 0px 75px 75px 0px !important;
}

.trashicon {
    float: right;
    color:red;
    cursor: pointer;
}

div.row.gridmaprow {
    padding: 1px !important;
}

div.gridmapelement {
    margin-left: 5px !important;
    margin-right: 5px !important;
    cursor: pointer;
}
