<h1 class="pageheader">
    <ng-container *ngIf="currentLayout">
        {{currentLayout[1].title}}
    </ng-container>
    <ng-container *ngIf="!currentLayout">
        User layouts
    </ng-container>
    <sui-progress class="bottom attached indicating active" [value]="progressValue"
        *ngIf="magicPressed && isProgressValueShown(progressValue)"></sui-progress>
</h1>
<div class="ui stackable grid">
    <button *ngIf="isMenuCollapsed" class="ui icon mini basic button bpad" (click)="collapseMenu()">
        <i class="icon angle right"></i>
    </button>
    <div class="four wide column" *ngIf="!isMenuCollapsed">
        <div class="ui segment">
            <h3>Template
                <!-- Link to layouts gitlab -->
                <sup>
                    <small>
                        <a title="Create pull request to update layouts"
                            href="https://gitlab.com/thegriglat/geant-val-layouts" target="_black">
                            <i class="plus icon"></i>
                        </a>
                    </small>
                </sup>
                <button class="ui right floated icon mini basic button" (click)="collapseMenu()">
                    <i class="icon angle left"></i>
                </button>
            </h3>
            <div class="ui active inverted dimmer" *ngIf="pTemplates.length === 0">
                <div class="ui loader"></div>
            </div>
            <sui-select class="selection enlarge" [(ngModel)]="currentLayout" [options]="pTemplates"
                [isSearchable]="true" [isDisabled]="false" [optionFormatter]="layoutFormatter"
                (selectedOptionChange)="onSelectLayout($event)" #select>
                <ng-container *ngFor="let layout of select.filteredOptions">
                    <sui-select-option *ngIf="isLayoutShown(layout[1].tags)" [value]="layout">
                    </sui-select-option>
                </ng-container>
            </sui-select>
            <h4>Layout groups</h4>
            <div *ngFor="let tag of uniqueTags(pTemplates)">
                <sui-checkbox (click)="updateTags(tag)">{{tag}}</sui-checkbox>
            </div>
            <div class="ui divider"></div>
            <sui-checkbox class="toggle" [(ngModel)]="useMarkers">Use markers</sui-checkbox>
        </div>
        <div class="ui segment" *ngIf="currentLayout">
            <h3>Version</h3>
            <div class="ui active inverted dimmer" *ngIf="menuVersions.length === 0">
                <div class="ui loader"></div>
            </div>
            <sui-multi-select class="selection enlarge" [(ngModel)]="versionsSel" [options]="menuVersions"
                [isSearchable]="true" [isDisabled]="false" [optionFormatter]="versionFormatter"
                [optionsFilter]="versionSelectFilter" #multiSelect>
                <sui-select-option *ngFor="let obj of multiSelect.filteredOptions" [value]="obj">
                </sui-select-option>
            </sui-multi-select>
        </div>
        <div class="ui segment" *ngIf="currentLayout">
            <h3>Physics List/Model</h3>
            <div class="ui active inverted dimmer" *ngIf="models.length === 0">
                <div class="ui loader"></div>
            </div>
            <sui-multi-select class="selection enlarge" [(ngModel)]="modelsSel" [options]="models" [isSearchable]="true"
                [isDisabled]="false" #multiSelect>
                <sui-select-option *ngFor="let obj of multiSelect.filteredOptions" [value]="obj">
                </sui-select-option>
            </sui-multi-select>
        </div>
        <div class="ui segment" *ngIf="currentLayout && availableExpDataforTest.length !== 0">
            <h3>Reference data</h3>
            <div *ngFor="let e of availableExpDataforTest">
                <sui-checkbox (click)="updateExp(e)">{{e.expname}}</sui-checkbox>
            </div>
        </div>
        <button class="enlarge ui primary button" *ngIf="currentLayout" [ngClass]="{disabled: updateCantPlot()}"
            (click)="magic()">
            Submit
        </button>
    </div>
    <div [ngClass]="{'sixteen wide column': isMenuCollapsed, 'twelve wide column': !isMenuCollapsed}"
        *ngIf="magicPressed">
        <div class="ui stackable grid">
            <div class="ui centered row" *ngFor="let row of plots">
                <ng-container *ngFor="let plot of row">
                    <div class="ui column" [style.width]="columnWidth(row.length)" *ngIf="plot.type !== 'text'">
                        <app-plot [configObs]="getPlotConfig(plot)" (done)="incrementProgress()"></app-plot>
                        <ng-katex class="center" *ngIf="plot.title !== ''" [equation]="plot.title"></ng-katex>
                    </div>
                    <ng-katex [equation]="plot.text" *ngIf="plot.type === 'text'"></ng-katex>
                </ng-container>
            </div>
        </div>
    </div>
</div>