.bpad {
    position: fixed;
    left: 0px;
    top: calc(50% - 75px);
    height:150px;
    width: 30px;
    z-index: 9999;
    margin-left: 0px;
    border-radius: 0px 75px 75px 0px !important;
}

.trashicon {
    float: right;
    color:red;
    cursor: pointer;
}

div.nopadding {
    padding: 0px !important
}
div.row.gridmaprow {
    padding: 1px !important;
}

div.gridmapelement {
    margin-left: 5px !important;
    margin-right: 5px !important;
    cursor: pointer;
}

/* border pulse */ 
@keyframes border-pulsate {
    0%   { border-color:orange; }
    50% { border-color:white; }
    100%   { border-color: orange; }
}

.border-pulse {
    border: 2px solid orange;
    border-radius: 10px;
    animation: border-pulsate 2s infinite;
}
