<h1 class="pageheader">User layouts</h1>
<div class="ui grid">
    <div class="two wide column">
        <div class="segment">
            <h3>Template</h3>
            <sui-select class="selection"
                [(ngModel)]="currentLayout"
                [options]="pTemplates"
                [isSearchable]="true"
                [isDisabled]="false"
                #select>
                <ng-container  *ngFor="let layout of select.filteredOptions">
                    <sui-select-option  *ngIf="isLayoutShown(layout[1].tags)"
                        [value]="layout[1].title">
                    </sui-select-option>
                </ng-container>
            </sui-select>
        </div>
    </div>
</div>