<h1 class="pageheader" id="headerblk">
  {{(test  |async)?.test_name}}
</h1>

<div class="ui stackable grid">
  <div class="four wide column">
    <div class="ui segment">
      <h3>Version</h3>
      <div class="ui active inverted dimmer" *ngIf="menuVersions.length === 0">
        <div class="ui loader"></div>
      </div>
      <sui-multi-select class="selection enlarge" [(ngModel)]="versionsSel" [options]="unstableFilter(menuVersions)"
        [isSearchable]="true" [isDisabled]="false" [optionFormatter]="versionFormatter"
        [optionsFilter]="versionSelectFilter" #versionSelect>
        <sui-select-option *ngFor="let obj of versionSelect.filteredOptions" [value]="obj">
        </sui-select-option>
      </sui-multi-select>
      <div class="ui divider"></div>
      <sui-checkbox class="toggle" [(ngModel)]="showUnstableVersions" (checkChange)="filterVersionSel()">Show
        unstable releases</sui-checkbox>
    </div>
    <div class="ui segment">
      <h3>Beam</h3>
      <div class="ui active inverted dimmer" *ngIf="menuBeams.length === 0">
        <div class="ui loader"></div>
      </div>
      <sui-multi-select class="selection enlarge" [(ngModel)]="beamsSel" [options]="menuBeams" [isSearchable]="true"
        [isDisabled]="false" #beamSelect>
        <sui-select-option *ngFor="let obj of beamSelect.filteredOptions" [value]="obj">
        </sui-select-option>
      </sui-multi-select>
    </div>
    <div class="ui segment">
      <h3>Observable</h3>
    </div>
    <div class="ui segment">
      <h3>Additional parameters</h3>
    </div>
    <div class="ui segment" *ngIf="availableExpDataforTest.length !== 0">
      <h3>Reference data</h3>
      <div *ngFor="let e of availableExpDataforTest">
        <sui-checkbox (click)="updateExp(e)">{{e.expname}}</sui-checkbox>
      </div>
    </div>
    <button class="enlarge ui primary button">
      Submit
    </button>
  </div>
  <div class="twelve wide column">
    data
  </div>
</div>