<h1 class="pageheader" id="headerblk">
  {{test?.test_name}}
</h1>

<div class="ui stackable grid">
  <div class="four wide column">
    <div class="ui segment" [ngClass]="{errorblock: !isVersionExpCorrect()}">
      <h3>Version</h3>
      <div class="ui active inverted dimmer" *ngIf="menuVersions.length === 0">
        <div class="ui loader"></div>
      </div>
      <sui-multi-select class="selection enlarge" [(ngModel)]="versionsSel" [options]="unstableFilter(menuVersions)"
        [isSearchable]="true" [isDisabled]="false" [optionFormatter]="versionFormatter"
        [optionsFilter]="versionSelectFilter" #versionSelect>
        <ng-container *ngIf="!isVersionExpCorrect()">
          <sui-select-option *ngFor="let obj of versionSelect.filteredOptions" [value]="obj">
          </sui-select-option>
        </ng-container>
      </sui-multi-select>
      <div class="ui divider"></div>
      <sui-checkbox class="toggle" [(ngModel)]="showUnstableVersions" (checkChange)="filterVersionSel()">Show
        unstable releases</sui-checkbox>
    </div>
    <div class="ui segment" [ngClass]="{errorblock: !isBeamCorrect()}">
      <h3>Beam</h3>
      <div class="ui active inverted dimmer" *ngIf="menuBeams.length === 0">
        <div class="ui loader"></div>
      </div>
      <sui-multi-select class="selection enlarge" [(ngModel)]="beamsSel" [options]="menuBeams" [isSearchable]="true"
        [isDisabled]="false" #beamSelect>
        <ng-container *ngIf="!isBeamCorrect()">
          <sui-select-option *ngFor="let obj of beamSelect.filteredOptions" [value]="obj">
          </sui-select-option>
        </ng-container>
      </sui-multi-select>
    </div>
    <div class="ui segment" [ngClass]="{errorblock: !isObservablesCorrect()}">
      <h3>Observable</h3>
      <div class="ui active inverted dimmer" *ngIf="menuObservable.length === 0">
        <div class="ui loader"></div>
      </div>
      <div *ngFor="let o of menuObservable">
        <div class="ui checkbox">
          <input type="checkbox" [checked]="observableSel.indexOf(o) !== -1" (click)="updateObservable(o)">
          <label>
            <ng-katex class="center" [equation]="katex(o)"></ng-katex>
          </label>
        </div>
      </div>
    </div>
    <div class="ui segment" *ngIf="!parametersUpdating && menuParameters.length !== 0">
      <h3>Additional parameters</h3>
      <div class="ui active inverted dimmer" *ngIf="parametersUpdating">
        <div class="ui loader"></div>
      </div>
      <div *ngFor="let paramGroup of menuParameters">
        <b>{{paramGroup[0]}}</b><br>
        <div *ngFor="let pvalue of paramGroup[1]">
          <sui-checkbox (click)="updateParam(paramGroup[0], pvalue)">{{pvalue}}</sui-checkbox>
        </div>
      </div>
    </div>

    <div class="ui segment" *ngIf="availableExpDataforTest.length !== 0"
      [ngClass]="{errorblock: !isVersionExpCorrect()}">
      <h3>Reference data</h3>
      <div *ngFor="let e of availableExpDataforTest">
        <sui-checkbox (click)="updateExp(e)" [isDisabled]="isExpCheckboxDisabled()">{{e.expname}}</sui-checkbox>
      </div>
    </div>
    <button class="enlarge ui primary button" (click)="submit()" [disabled]="!isSubmitAllowed()">
      Submit
    </button>
  </div>
  <div class="twelve wide column">
    <!-- TODO: reference data -->
    <app-stat-table *ngIf="submitted" [test]="test" [versions]="versionsSel" [beam]="beamsSel"
      [observables]="observableSel" [parameters]="parametersSel" [expdata]="checkedExp"></app-stat-table>
  </div>
</div>