/* You can add global styles to this file, and also import other style files */

@import '~katex/dist/katex.css';
@import "./fomantic-ui.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
	border-bottom: 1px solid #eee;
}

#root_ctx_menu {
	z-index: 2147483647;
	/* top level on the page */
}

/* fix ui modal resize bug */
.ui.modal {
    margin-top: 0px !important;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 5px;
}

.enlarge {
    min-width: 100% !important;
}

div.center {
    display: flex;
    justify-content: center;
}

ng-katex.center {
	display: flex;
    justify-content: center;
}

/* to fix black background in inverted modal */
.ui.inverted.modal > .content, .ui.inverted.modal > .header {
    background: white !important;
}