<div class="ui dividing header">

<h1 class="maintitle">
	Geant Validation Portal
</h1>
</div>
<div class="ui stackable grid">
	<div class="four wide column">
		<a><h4 class="menu-btn">User Layouts</h4></a>
		<a><h4 class="menu-btn">Stat comparison</h4></a>
		<a><h4 class="menu-btn">Record viewer</h4></a>
		<a><h4 class="menu-btn">Reference data</h4></a>
		<a><h4 class="menu-btn">Lookup tables</h4></a>
		<a href="cern.ch">
			<img src="assets/cern-logo.png" class="logo">
		</a>
		<a href="geant4.cern.ch">
			<img src="assets/geant4_logo_2017.png" class="logo">
		</a>
	</div>
	<div class="twelve wide column">
		<div class="ui three column grid">
			<div class="wide column homeplot"><img class="homeplot" src="assets/home/newplot_0.png"></div>
			<div class="wide column homeplot"><img class="homeplot" src="assets/home/newplot_1.png"></div>
			<div class="wide column homeplot"><img class="homeplot" src="assets/home/newplot_2.png"></div>
			<div class="wide column homeplot"><img class="homeplot" src="assets/home/newplot_3.png"></div>
			<div class="wide column homeplot"><img class="homeplot" src="assets/home/newplot_4.png"></div>
			<div class="wide column homeplot"><img class="homeplot" src="assets/home/newplot_5.png"></div>
		</div>
	</div>
</div>